@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlideUp {
  animation: fadeInSlideUp 1s ease-out forwards;
}

@keyframes grid-pan {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.animated-grid {
  animation: grid-pan 60s linear infinite;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 4rem 4rem;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
